@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E6FA;
  color: #212121;
  line-height: 1.5;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color:  #1e3452;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
}
a:hover {
  color:  #00FA9A;
}

